html, body {
    height: 100%;
    margin: 0;
    background-color: #F5F6FA;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#content {
    display: flex;
}

nav {
    width: 20%;
    min-width: 230px;
    max-width: 270px;
    background-color: #FFFFFF;
    position: relative;
    height: 100vh;
    z-index: 10;
    border-right: 2px solid #F5F6FA;
}

nav li {
    display: flex;
    align-items: center;
    margin-bottom: 3px;   
    margin-right: 20px;
    border-radius: 8px;
    margin-left: 20px;
}

nav a {
    align-items: center;
    width: 100%;
    padding: 13px;
    padding-left: 20px;
}

nav ul li i {
    margin-right: 10px;
}

nav h5 {
    margin: 0;
}

#blok2 {
    width: 90%;
    background-color: #F5F6FA;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: #7E84A3 3px;
}

.headerContent {
    display: flex;
    align-items: center;
    min-height: 100%;
    z-index: 1;
}

.header h6 {
    margin: 0;
    margin-left: 5px;
}

.headerIcon {
    font-size: 1.4em;
    margin-left: 18px;
    margin-right: 15px;
}

.dropdownContent {
    display: flex;
    background-color: #ffffff;
    border-radius:  0 0 10px 10px;
    transition: all .2s ease-out;
    z-index: 1;
  }

.dropdownContent a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    border-radius: 5px;
 }

 .dropdownContent i {
    margin: 0;
    margin-right: 5px;
    font-size: .4em;
    display: none;
 }

.dropdownContent a:hover {
    text-decoration: none;
    background-color: rgba(0, 88, 255, 0.08);
}

.dropdownButton {
    display: none;
    border: none;
    background-color: white;
    color: #7E84A3;
    padding-left: 5px;
    font-size: .8em;
}

.show {
    max-height: 200px !important;
    overflow: visible !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

li a {
    display: flex;
    color: #000000;
}

li i {
    color: #0058FF;
}

#logo {
    font-size: 1.6em;
    margin-left: 19px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.activeNav {
    background-color: rgba(0, 88, 255, 0.08);
}

.activeNav a {
    color: #0058FF;
}

.activeNav i {
    color: #0058FF;
}

#popUpNav {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 7%;
    max-height: 0px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 25px 25px 0 0;
    z-index: 1;
    transition: all .2s ease-out;
    padding-left: 20px;
    padding-right: 20px;
}

.openNav {
    max-height: 650px !important;
    padding-top: 20px;   
    padding-bottom: 15px; 
}

#popUpNav h5 {
    margin: 0px;
}

#popUpNav i {
    margin-right: 8px;
}

#popUpNav ul {
    margin: 0;
}

#popUpNav li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1px;   
    padding-left: 15px;
    border-radius: 8px;
}

#popUpNav li a {
    width: 100%;
}

#popUpNav label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.activePopUp {
    background-color: rgba(0, 88, 255, 0.08);
}

.activePopUp h5 {
    font-weight: bold;
    color: #0058FF;
}

li:hover {
    background-color: rgba(0, 88, 255, 0.08);
}

.selected {
    background-color: rgba(0, 88, 255, 0.08);
}

.selected i {
    color: #0058FF;
}

.selectedDropdown {
    color: #0058FF !important;
}

li a:hover {
    text-decoration: none;
    color: #131523;
}

.pageTitle {
    align-items: center;
    padding: 10px;
    padding-left: 20px;
}

.subMenuTitle {
    margin: 0;
    font-size: .9em;
    text-decoration: none;
}

.subMenu {
    width: 100%;
    max-height: 0px;
    color: #131523;
    font-weight: 400;
    overflow: hidden;
    transition: max-height .1s ease-in-out;
}

.selectedSubmenu i {
    color: #0058FF !important;
}

.selectedSubmenu {
    color: #0058FF;
}

.subMenu i {
    margin-top: 9px;
    margin-right: 18px;
    font-size: .4em;
    color: #131523;
}

.open {
    max-height: 200px;
}

.black {
    color: #131523;
}

.gray {
    color: #131523;
}

.blue {
    color: #0058FF;
}

.mobile {
    display: flex;
}

.desktop {
    display: none;
}

.hide {
    display: none;
}

.checkbutton {
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#agriCheck {
    display: none;
}

#devicesCheck {
    display: none;
}

#analyseCheck {
    display: none;
}

#alarmsCheck {
    display: none;
}

.contentChanger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
    background-color: white;
    border-top: 2px solid #F5F6FA;
    width: 100%;
}

#teeltSelector {
    width: 155px;
    margin-right: 20px;
}

.refreshCheck {
    display: flex;
    align-items: center;
    margin: 0;
    color: #0058FF;
}

.contentChanger p {
    margin: 0;
    margin-left: 5px;
}

.widgetContent {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    column-gap: 15px;
}

.marginLeft {
    margin-left: 10px;
}

.marginRight {
    margin-right: 10px;
}

.widget {
    flex: 1 0 48%;
    max-width: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    height: 380px;
    position: relative;
}

.grid-stack-item-content {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.noWidget {
    flex: 1 0 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f1f6;
    color: #ccccd0;
    max-width: 50%; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    height: 380px;
    position: relative;
}

.grid-stack-item-content h4 {
    margin: 0;
}

.grid-stack-item-content i {
    color: #0058FF;
    margin-right: 5px;
}

.blueAddButton {
    display: flex;
    background-color: #0058FF;
    padding: 4px;
    border: none;
    border-radius: 5px;
    color: #F5F6FA;
    padding: 3px 6px 3px 6px;
}

#addWidgetButton {
    display: flex;
    background-color: #0058FF;
    padding: 4px;
    border: none;
    border-radius: 5px;
    color: #F5F6FA;
    padding: 3px 6px 3px 6px;
}

#editWidgetButton {
    background-color: #F5F6FA;
    padding: 4px;
    border: none;
    border: solid 1px #7E84A3;
    border-radius: 5px;
    color: #7E84A3;
    padding: 3px 6px 3px 6px;
    margin-right: 5px;
    transition: all 0.05 ease;
}

.widgetZoomButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.2em;
}


.highlight-swap {
    border: 2px dashed #0058FF;
}

.dragging-widget {
    opacity: 0.4; /* verhoogde zichtbaarheid */
    transform: scale(1.03);
}

.widgetButton {
    transition: all 0.05s ease;
}

.widgetButton:hover {
    transform: scale(1.2) perspective(1px);
}


.userInfo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 0;
    line-height: 15px;
}

.userInfo p {
    margin: 0;
    font-size: .9em;
}

.userInfo img {
    max-width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-right: 5px;
}

.name {
    margin-right: 10%;
}

.role {
    color: #7E84A3;
    font-size: 0.8em !important;
}

.alarmWidget {
    background-color: white;
    border: #7E84A3 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
}

.alarmContent {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    flex-wrap: wrap;   
}

.alarmWidgetP {
    color: #7E84A3;
    font-size: .8em;
    margin-bottom: 0px;
}

.widgetModal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.widgetModal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 70%;
  border-radius: 5px;
}

.widgetModal-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid #F5F6FA;
    height: 50px;
    align-items: center;
}

.red {
    color: red !important;
}

.widgetModal-header p {
    font-size: 1em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.widget-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.widgetOption {
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #d4d5da;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    margin: 5px;
}

.widget-properties {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 15px 0px 15px;
    border-bottom: 2px solid #F5F6FA;
}

.widget-type-title {
    width: 100%;
}

.widget-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10px;
}

.widget-input label {
    margin: 0px;
    font-size: .8em;
}

.widget-size p {
    font-size: .8em;
    margin: 0px;
}

#backButton {
    background-color: #F5F6FA;
    padding: 4px;
    border: none;
    border: solid 1px #7E84A3;
    border-radius: 5px;
    color: #7E84A3;
    padding: 3px 6px 3px 6px;
}

.headerButtons {
    display: flex;
    height: 100%;
    align-items: center;
}

#widgetSizeSelection {
    height: 92.3%;
    background-color: #dfe2e8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#widgetSizeSelection h6 {
    margin-top: 10px;
}

.widgetSizeSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widgetSizeButton {
    height: 30px;
    width: 30px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    background-color: transparent;
    color: gray;
}

.widgetSizeButton :hover {
    transform: scale(1.3) perspective(1px);
}

#widgetSizeExample {
    height: 47%;
    width: 57%;
    background-color: white;
    border-radius: 4px;
    border: solid 1px #7E84A3;
}

.widget-input-field {
    width: 100%;
    border-radius: 4px;
    height: 45px;
    border: 1px solid #d4d5da;
    font-size: .9em;
    padding: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.widget-input-field::placeholder {
    color: #7E84A3;
}

.widgetOption:hover {
    background-color: rgba(0, 88, 255, 0.08);
}

.widget-section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
}

.widget-sensor-selection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 15px 0px 15px;
}

.widget-size {
    width: 50%;
    padding-left: 10px;
}

.widget-section h4 {
    margin-bottom: 10px;
}

.widget-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 920px) {
    .widget {
        flex: 1 0 99%;
        max-width: 100%;
        min-width: fit-content;
        margin-bottom: 20px;
    }

    .noWidget {
        flex: 1 0 99%;
        max-width: 100%;
        min-width: fit-content;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    nav {
        width: 100%;
        max-width: 100%;
        display: flex;  
        justify-content: center;  
        align-items: center;  
        position: fixed;
        bottom: 0;
        border-right: 0;
        border-top: 2px solid #F5F6FA;
        height: 60px;
        align-content: center;
    }

    #popUpNav {
        border-top: 2px solid #F5F6FA;
    }

    #blok2 {
        width: 100%;
    }

    .alarmContent {
        margin-top: 60px;
    }

    .alarmWidget {
        width: 100%;
        margin: 7px;
    }

    #pageContent {
        padding-top: 60px;
    }

    nav ul {
        display: flex;
        margin: 0;
        justify-content: space-evenly;
    }

    nav ul li {
        margin: 0;
    }

    nav i {
        color: #7E84A3;
    }

    nav h5 {
        display: none;
    }

    #logo {
        display: none; 
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .activeNav {
        background-color: transparent;
    }

    .checkbutton {
        display: block;
    } 

    .header {
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
    }

    .headerContent {
        justify-content: center;
    }

    .dropdownButton {
        display: block;
    }

    .dropdownContent {
        display: block;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        border-top: 2px solid #F5F6FA;
        max-height: 0px;
        width: 100%;
        border-bottom: 2px solid #F5F6FA;
    }

    .dropdownContent i {
        display: block;
    }

    .selectedDropdown {
        background-color: rgba(0, 88, 255, 0.08);
    }

    .contentChanger {
        justify-content: space-between;
    }

    .widgetContent {
        flex-wrap: wrap;
    }

    .marginLeft {
        margin-left: 0px;
    }

    .marginRight {
        margin-right: 0px;
    }

    .userInfo {
        display: none;
    }

    #teeltSelector {
        width: 90px;
        margin-right: 10px;
    }

    .widgetModal {
        padding-top: 39px;
    }

    .widgetModal-content {
        width: 93%;
        height: 92%;
    }

    .widget-input {
        width: 100%;
    }

    .widget-size {
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    #addWidgetButton p {
        display: none;
    }

    #addWidgetButton {
        width: 31px;
        justify-content: center;
    }
}








